SECRET_KEY=
DEBUG=True
DB_NAME=library
DB_USER=library
DB_PASSWORD=library
DB_HOST=db
DB_PORT=5432
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
CELERY_BROKER_URL=redis://redis:6379/0